* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    overflow-x: hidden;
    background: black;
    color: white;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
}

.content {
    position: relative;
    z-index: 10;
    padding: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li {
    cursor: pointer;
    transition: 0.3s;
}

nav ul li:hover {
    color:#00f7ff;
}

.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;   /* vertical center */
    align-items: center;       /* horizontal center */
    text-align: center;        /* center text */
    padding: 0 20px;
}

.hero h2 {
    font-size: 50px;
}

.hero span {
    color: #00f7ff;
}

.hero p {
    margin: 20px 0;
    font-size: 20px;
}

button {
    padding: 12px 30px;
    background: linear-gradient(45deg, #00f7ff, #0072ff);
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}
html {
    scroll-behavior: smooth;
}
section {
    min-height: 100vh;   /* full screen height */
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* center vertically */
    
}

#design{
    color: #00f7ff;
}
